.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-font: 16px "Veranda";
}

.label-roundNumber-zh {
    -fx-font: bold 80pt "KaiTi";
    -fx-text-fill: rgb(0,0,160);
}

.label-roundNumber-en {
    -fx-font: bold 50pt "Bell MT";
    -fx-text-fill: rgb(0,0,160);
}

.label-roundDescription {
    -fx-font: bold 30pt "KaiTi";
    -fx-text-fill: rgb(150,0,0);
}

.label-userName {
    -fx-font: bold 20pt "KaiTi";
    -fx-text-fill: rgb(150,0,0);
}

.label-userLevel {
    -fx-font: bold 20pt "KaiTi";
    -fx-text-fill: rgb(150,0,0);
}

.label-scoreRoundNumber {
    -fx-font: bold 15pt "Bell MT";
    -fx-text-fill: rgb(150,0,0);
}

.label-scoreRoundPoint {
     -fx-font: bold 15pt "Bell MT";
     -fx-text-fill: rgb(150,0,0);
 }
