.pane {
    -fx-background-color: rgb(255,255,255);
}

.check-box {
    -fx-font: bold 50pt "KaiTi";
}

.text-field {
    -fx-font: bold 50pt "KaiTi";
    -fx-text-fill: rgb(0,162,232);
}

#zh-title {
    -fx-font: bold 70pt "KaiTi";
}

#en-title {
    -fx-font: bold 30pt "Bell MT";
}

#en-message {
     -fx-font: bold 25pt "Bell MT";
 }