.pane {
    -fx-background-image: url("bgn1.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.check-box {
    -fx-font: bold 50pt "KaiTi";
}

.text-field {
    -fx-font: bold 50pt "KaiTi";
    -fx-text-fill: rgb(0,162,232);
}

#zh-title {
    -fx-font: bold 60pt "KaiTi";
    -fx-text-fill: rgb(255,0,0);
    -fx-effect: dropshadow(gaussian, rgb(0,0,0),10,0.1,5,5);
}

#en-title {
    -fx-font: bold 23pt "Bell MT";
        -fx-text-fill: rgb(255,0,0);
            -fx-effect: dropshadow(gaussian, rgb(0,0,0),10,0.1,5,5);
}

#en-message {
     -fx-font: bold 25pt "Bell MT";
         -fx-text-fill: rgb(255,255,255);
           -fx-effect: dropshadow(gaussian, rgb(0,0,0),10,0.1,5,5);
 }